@font-face {
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 300;
    src: local('Source Sans Pro Light'), local('SourceSansPro-Light'), url(http://themes.googleusercontent.com/static/fonts/sourcesanspro/v4/toadOcfmlt9b38dHJxOBGNbE_oMaV8t2eFeISPpzbdE.woff) format('woff');
}
@font-face {
    font-family: 'Orienta';
    font-style: normal;
    font-weight: 400;
    src: local('Orienta'), local('Orienta-Regular'), url(http://themes.googleusercontent.com/static/fonts/orienta/v1/nPJ0J30J_zQZtBhztPPbaA.woff) format('woff');
}

body{
    font-family: "Source Sans Pro"
}

.webformed div{
    display: flex;
    align-items: center;
    /* flex-direction: column; */
}

.webformed .vertical{
    flex-direction: column;
    justify-content: start;
    align-items: flex-start;
}

.webformed label{
    margin-left: 2vw;
    margin-right: 2vw;
}

.webformed input[type="text"] {
    display: block;
    margin: 0;
    
    /* font-family: sans-serif; */
    font-size: 18px;
    appearance: none;
    box-shadow: none;
    border-radius: none;
}

.webformed input[type="text"]:focus {
    outline: none;
}

.webformed input{
    padding: 10px;
    border: solid 1px #dcdcdc;
    transition: box-shadow 0.3s, border 0.3s;
}

.webformed input[type="text"]:focus,
.webformed input[type="text"].focus {
    border: solid 1px #707070;
    box-shadow: 0 0 5px 1px #969696;
}

.webformed input[type="checkbox"], .webformed input[type="radio"] {
    width: 19px;
    height: 25px;
    padding: 0 5px 0 0;
    /* background: url(checkbox.png) no-repeat; */
    display: block;
    clear: left;
    float: left;
    order: -1;
}

.button {
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #bbb;
    border-radius: .3em;
    box-shadow: 0 1px 0 1px rgba(0,0,0,.04);
    background: #f3f3f3; /* Old browsers */
    background: -moz-linear-gradient(top, #ffffff 0%, #e5e5e5 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#e5e5e5)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #ffffff 0%,#e5e5e5 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #ffffff 0%,#e5e5e5 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #ffffff 0%,#e5e5e5 100%); /* IE10+ */
    background: linear-gradient(to bottom, #ffffff 0%,#e5e5e5 100%); /* W3C */
}